{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

    <div id="wrapper">
        {{ include('zircosTemplate/bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('zircosTemplate/bloquesGenerales/menuIzquierdo.html.twig') }}
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title"><i class="mdi mdi-phone-classic"></i> Mis Llamadas </h4>
                                    <a href="{{ path('registrarLlamada') }}">
                                        <button class="btn btn-success btn-bordered waves-effect waves-light" style="float: right;"><span class="mdi mdi-plus"></span> Agregar Llamada</button>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30">Registro de Llamadas para el usuario: {{ llamadas[0].nombreContacto }} </h4>

                                    <div class="tabs-vertical-env">
                                        <ul class="nav tabs-vertical">
                                            <li class="">
                                                <a href="#v-pendientes" data-toggle="tab" aria-expanded="true">Pendientes</a>
                                            </li>
                                            <li class="">
                                                <a href="#v-atendidas" data-toggle="tab" aria-expanded="false">Atendidas</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane" id="v-pendientes">
                                                <div class="col-md-12">
                                                    <div class="card-box">
                                                        <h4 class="header-title m-t-0 m-b-30"><i class="mdi mdi-phone-in-talk"></i> Registro de Llamadas</h4>

                                                        <div class="table-responsive">
                                                            <table class="table table table-hover m-0">
                                                                <thead>
                                                                <tr>
                                                                    <th>Tema</th>
                                                                    <th>Contacto</th>
                                                                    <th>Teléfono</th>
                                                                    <th>Extensión</th>
                                                                    <th>Descripción</th>
                                                                    <th>Categoría</th>
                                                                    <th>Estado</th>
                                                                    <th>Recibe</th>
                                                                    <th>Fecha | Registro</th>
                                                                    <th>Gestiona</th>
                                                                    <th>Fecha | Gestión</th>
                                                                    <th>Fecha | Solución</th>
                                                                    <th>Acción</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for llamada in llamadas %}
                                                                    {% if llamada.estadoRel == 1 %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ llamada.tema }}
                                                                            </td>
                                                                            <td>
                                                                                <h5 class="m-0">SEGURCOL</h5>
                                                                            </td>
                                                                            <td>{{ llamada.telefono }}</td>
                                                                            <td>{{ llamada.extension }}</td>
                                                                            <td>{{ llamada.descripcion }}</td>
                                                                            <td>
                                                                                {% if llamada.codigoCategoriaLlamadaFk == 0 %}
                                                                                    <span class="label label-danger">SIN CATEGORIZAR</span>
                                                                                {% elseif llamada.codigoCategoriaLlamadaFk == 1 %}
                                                                                    <span class="label label-default">SOPORTE</span>
                                                                                {% elseif llamada.codigoCategoriaLlamadaFk == 2 %}
                                                                                    <span class="label label-info">CAPACITACIÓN</span>
                                                                                {% elseif llamada.codigoCategoriaLlamadaFk == 3 %}
                                                                                    <span class="label label-orange">BUGS</span>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>
                                                                                {% if llamada.codigoEstadoLlamadaFk == 0 or llamada.codigoEstadoLlamadaFk == null %}
                                                                                    <span class="label label-danger">SIN ATENDER</span>
                                                                                {% elseif llamada.codigoEstadoLlamadaFk == 1 %}
                                                                                    <span class="label label-orange">PENDIENTE</span>
                                                                                {% elseif llamada.codigoEstadoLlamadaFk == 2 %}
                                                                                    <span class="label label-info">ATENDIDA</span>
                                                                                {% elseif llamada.codigoEstadoLlamadaFk == 3 %}
                                                                                    <span class="label label-success">SOLUCIONADA</span>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td> Recibe ({{ llamada.codigoUsuarioRecibeFk }})</td>
                                                                            <td>{{ llamada.fechaRegistro|date('Y-m-d H:i:s') }}</td>
                                                                            <td> Atendió ({{ llamada.codigoUsuarioAtiendeFk }})</td>
                                                                            <td>{{ llamada.fechaGestion|date('Y-m-d H:i:s') }}</td>
                                                                            <td>{{ llamada.fechaSolucion|date('Y-m-d H:i:s') }}</td>
                                                                            <td><a href="#">Cambiar estado</a><a href="#">Cambiar estado</a></td>
                                                                            <td><
                                                                                <a href="#" class="btn btn-purple waves-effect waves-light btn-xs m-b-5"><i class="glyphicon glyphicon-pencil" style="padding: 3px;"></i></a>
                                                                                <a href="{{ path('actualizarEstadoLlamadaUsuario', { 'codigoLlamadaPk':  llamada.codigoLlamadaPk }) }}"
                                                                                class="btn btn-default waves-effect waves-light btn-xs m-b-5"><i class="glyphicon glyphicon-transfer" style="padding: 3px;"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div> <!-- table-responsive -->
                                                    </div> <!-- end card -->
                                                </div>
                                                <!-- end col -->
                                            </div>
                                            <div class="tab-pane" id="v-atendidas">

                                                <div class="col-md-12">
                                                    <div class="card-box">
                                                        <h4 class="header-title m-t-0 m-b-30"><i class="mdi mdi-phone-in-talk"></i> Registro de Llamadas</h4>

                                                        <div class="table-responsive">
                                                            <table class="table table table-hover m-0">
                                                                <thead>
                                                                <tr>
                                                                    <th>Tema</th>
                                                                    <th>Contacto</th>
                                                                    <th>Teléfono</th>
                                                                    <th>Extensión</th>
                                                                    <th>Descripción</th>
                                                                    <th>Categoría</th>
                                                                    <th>Estado</th>
                                                                    <th>Recibe</th>
                                                                    <th>Fecha | Registro</th>
                                                                    <th>Gestiona</th>
                                                                    <th>Fecha | Gestión</th>
                                                                    <th>Fecha | Solución</th>
                                                                    <th>Acción</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for llamada in llamadas %}
                                                                    {% if  llamada.estadoRel > 1 %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ llamada.tema }}
                                                                            </td>
                                                                            <td>
                                                                                <h5 class="m-0">SEGURCOL</h5>
                                                                            </td>
                                                                            <td>{{ llamada.telefono }}</td>
                                                                            <td>{{ llamada.extension }}</td>
                                                                            <td>{{ llamada.descripcion }}</td>
                                                                            <td>
                                                                                {% if llamada.codigoCategoriaLlamadaFk == 0 %}
                                                                                    <span class="label label-danger">SIN CATEGORIZAR</span>
                                                                                {% elseif llamada.codigoCategoriaLlamadaFk == 1 %}
                                                                                    <span class="label label-default">SOPORTE</span>
                                                                                {% elseif llamada.codigoCategoriaLlamadaFk == 2 %}
                                                                                    <span class="label label-info">CAPACITACIÓN</span>
                                                                                {% elseif llamada.codigoCategoriaLlamadaFk == 3 %}
                                                                                    <span class="label label-orange">BUGS</span>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>
                                                                                {% if llamada.codigoEstadoLlamadaFk == 0 or llamada.codigoEstadoLlamadaFk == null %}
                                                                                    <span class="label label-danger">SIN ATENDER</span>
                                                                                {% elseif llamada.codigoEstadoLlamadaFk == 1 %}
                                                                                    <span class="label label-orange">PENDIENTE</span>
                                                                                {% elseif llamada.codigoEstadoLlamadaFk == 2 %}
                                                                                    <span class="label label-info">ATENDIDA</span>
                                                                                {% elseif llamada.codigoEstadoLlamadaFk == 3 %}
                                                                                    <span class="label label-success">SOLUCIONADA</span>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td> Recibe ({{ llamada.codigoUsuarioRecibeFk }})</td>
                                                                            <td>{{ llamada.fechaRegistro|date('Y-m-d H:i:s') }}</td>
                                                                            <td> Atendió ({{ llamada.codigoUsuarioAtiendeFk }})</td>
                                                                            <td>{{ llamada.fechaGestion|date('Y-m-d H:i:s') }}</td>
                                                                            <td>{{ llamada.fechaSolucion|date('Y-m-d H:i:s') }}</td>
                                                                            <td>
                                                                                <a href="#" class="btn btn-purple waves-effect waves-light btn-xs m-b-5"><i class="glyphicon glyphicon-pencil" style="padding: 3px;"></i></a>
                                                                                <a href="{{ path('actualizarEstadoLlamadaUsuario', { 'codigoLlamadaPk': llamada.codigoLlamadaPk }) }}"
                                                                                   class="btn btn-default waves-effect waves-light btn-xs m-b-5"><i class="glyphicon glyphicon-transfer" style="padding: 3px;"></i>
                                                                                </a>

                                                                                {#<a href="#custom-modal{{ llamada.codigoLlamadaPk }}"#}
                                                                                   {#class="btn btn-default waves-effect waves-light btn-xs m-b-5"#}
                                                                                   {#data-modalCont="{{ cont }}"#}
                                                                                   {#data-animation="makeway"#}
                                                                                   {#data-plugin="custommodal"#}
                                                                                   {#data-overlayspeed="100"#}
                                                                                   {#data-overlaycolor="#36404a">#}
                                                                                    {#<i class="glyphicon glyphicon-transfer" style="padding: 3px;"></i>#}
                                                                                {#</a>#}
                                                                                {#<div id="custom-modal{{ llamada.codigoLlamadaPk }}" class="modal-demo">#}
                                                                                    {#<button type="button" class="close" onclick="Custombox.close();">#}
                                                                                        {#<span>&times;</span><span class="sr-only">Close</span>#}
                                                                                    {#</button>#}
                                                                                    {#<h4 class="custom-modal-title">Llamada: </h4>#}
                                                                                    {#<div class="custom-modal-text">#}
                                                                                        {#{{ llamada.tema }}#}
                                                                                    {#</div>#}
                                                                                {#</div>#}
                                                                            </td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div> <!-- table-responsive -->
                                                    </div> <!-- end card -->
                                                </div>
                                                <!-- end col -->
                                                <!-- Modal -->
                                                {#<div id="custom-modal" class="modal-demo">#}
                                                    {#<button type="button" class="close" onclick="Custombox.close();">#}
                                                        {#<span>&times;</span><span class="sr-only">Close</span>#}
                                                    {#</button>#}
                                                    {#<h4 class="custom-modal-title">Llamada: {{ llamadas[1].codigoUsuarioRecibeFk }}</h4>#}
                                                    {#<div class="custom-modal-text">#}
                                                        {#{{ llamadas[1].nombreContacto }}#}
                                                    {#</div>#}
                                                {#</div>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>

                        {{ dump(llamadas) }}
                    {% endblock content %}
                </div> <!-- container -->
            </div> <!-- content -->
        </div>
        {{ include('zircosTemplate/bloquesGenerales/pie.html.twig') }}
    </div>
{% endblock %}
